Header {
    height: 1;
    text-style: bold;
    background: $boost;
}

Footer {
    text-style: bold;
    background: #303030;
}

Static {
    width: 1fr;
}

DataTable {
    background: $boost;
}

Tabs {
    background: $boost;
}

Tab {
    text-style: bold;
    padding-left: 1;
    padding-right: 3;
}

.time-tab {
    text-style: none;
    color: $foreground;
}

LoadingIndicator {
    height: 80%;
}

.hide {
    display: none;
    height: 0%;
}